<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/example.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
  </head>
  <body>
  <% include header.ejs %>
  <br/>

  <%- include(body_view) %>

  <br/>
  <% include footer.ejs %>
  </body>
</html>
