<html>
<head>
  <title>Salary</title>
  <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="css/example.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="bootstrap/bootstrap.min.js"></script>
  <script src="logic.js"></script>
</head>
<body>
<div class="row" style="margin:auto">
  <div class="col-lg-3">
   <label><h3>Name</h3></label>
    <input type="text" id="Name">
  </div>
  <div class="col-lg-3">
    <label><h3>Surname</h3></label>
    <input type="text" id="Surname">
  </div>
  <div class="col-lg-3">
    <label><h3>Salary</h3></label>
    <input type="text" id="Salary">
  </div>
  <div class="col-lg-3">
      <button type="submit" class="btn btn-default" id="addButt">Add</button>
  </div>
</div>
<div id="template" class="row" style="display:none">
  <div class="name col-lg-3">
    hame
  </div>
  <div class="surname col-lg-3">
    hame
  </div>
  <div class="salary col-lg-3" >
    hame
  </div>
</div>
</body>
</html>